{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static '/css/loading.css'%}" rel="stylesheet" />
    <title>SKKU MAP</title>
  </head>
  <body>
    <p>여기가 어디지 여기가 어디지 여기가 어디지 여기가 어디지 여기가 어디지</p>
    <p>여기가 어디냐 여기가 어디냐 여기가 어디냐 여기가 어디냐 여기가 어디냐</p>
    <p>여기가 어딜까 여기가 어딜까 여기가 어딜까 여기가 어딜까 여기가 어딜까</p>
    <p>여기가 저긴가 여기가 저긴가 여기가 저긴가 여기가 저긴가 여기가 저긴가</p>
    <p>저기가 여긴가 저기가 여긴가 저기가 여긴가 저기가 여긴가 저기가 여긴가</p>
    <p>이쪽이 아니지 이쪽이 아니지 이쪽이 아니지 이쪽이 아니지 이쪽이 아니지</p>
    <p>이쪽이 아닌가 이쪽이 아닌가 이쪽이 아닌가 이쪽이 아닌가 이쪽이 아닌가</p>
    <p>아닌데 여긴데 아닌데 여긴데 아닌데 여긴데 아닌데 여긴데 아닌데 여긴데</p>
    <p>아몰라 여긴가 아몰라 여긴가 아몰라 여긴가 아몰라 여긴가 아몰라 여긴가</p>
    <p>아맞다이럴때</p>
    <p>찾았다스꾸맵</p>
  </body>
</html>
